<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search Courses</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .grid-item {
      background-color: #ededed;
      padding: 10px;
      text-align: center;
    }
    .course-overview-button {
      background-color: #4CAF50; 
      border: 2px solid #4CAF50;
      color: white;
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      border-radius: 3px;
    }
    .rate-course-button {
      background-color: #7495fa;
      border: 2px solid #7495fa;
      color: white;
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      border-radius: 3px;
    }
    .add-favorite-button {
      background-color: #fafa74;
      border: 2px solid #fafa74;
      color: black;
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      border-radius: 3px;
    }
    .slider {
      -webkit-appearance: none;
      appearance: none;
      width: 90%;
      height: 25px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      margin: 15px auto;
      display: block;
    }
  </style>
</head>

<body>
  <ul class="nav nav-pills mt-2 mx-2">
    <li class="nav-item">
      <a class="nav-link" href="/">GPA Inflation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/reviews">Search Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Favorites">⭑ Favorites</a>
    </li>
    <li class="nav-item ml-auto" id="accountToggle"></li>
  </ul>

  <div class="container mt-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 style = "text-align: center;"><b>Search Courses</b></h2>
          <div class="grid-container">
            <div class="grid-item">
              <p>Course Number</p>
              <input type="text" id="courseNumberSelection" placeholder="Course..."></input>
            </div>
            <div class="grid-item">
              <p>Professor Name</p>
              <input type="text" id="professorSelection" placeholder="Professor..."></input>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-info mt-3" id="courseSearchButton">
          Search
        </button>
      </div>
  </div>
    
  <div class="alert alert-primary text-center" role="alert-success" style="display: none;" id="reviewAddedBanner">
    Review Added for
    <span id="courseNumberReviewBanner"></span>
    (<span id="professorReviewBanner"></span>). Thanks!
  </div>

  <div class="alert alert-primary text-center" role="alert-success" style="display: none;" id="favoriteAddedBanner">
    Favorite Added for
    <span id="courseNumberFavoriteBanner"></span>
    <span id="professorFavoriteBanner"></span>!
  </div>

  <table class="table" id="courseBody">
    <tbody id="courseBody"><!-- sections here --></tbody>
  </table>

  <div class="modal fade" id="viewCourseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg mx-auto" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100" id="overviewTitle"></h4> <!-- title here -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <table class="table mb-4" id="courseOverviewStats"></table> <!-- body goes here -->
          <table class="table" id="courseReviewStats"></table> <!-- reviews goes here -->
          <div id="reviewTexts"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addFavoriteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg mx-auto" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100" id="addReviewTitle">
              ADD FAVORITE FOR
              <span id="courseNumberTitle"></span>
              (<span id="professorTitle"></span>)
            </h4> <!-- title here -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="addFavoriteForm">
            <button type="button" class="btn btn-primary btn-block col-6 mx-auto mt-3" id="submitFavoriteButton">
              Submit
            </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg mx-auto" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100" id="addReviewTitle">
              ADD REVIEW FOR
              <span id="courseNumberTitle"></span>
              (<span id="professorTitle"></span>)
            </h4> <!-- title here -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="addReviewForm">
          <h5 style="text-align: center;" id="workloadSliderDisplay">Workload: 5</h5>
          <input type="range" min="0" max="10" value="5" class="slider" id="workloadSlider">
          <h5 style="text-align: center;" id="amountLearnedSliderDisplay">Amount Learned: 5</h5>
          <input type="range" min="0" max="10" value="5" class="slider" id="amountLearnedSlider">
          <h5 style="text-align: center;" id="difficultySliderDisplay">Difficulty: 5</h5>
          <input type="range" min="0" max="10" value="5" class="slider" id="difficultySlider">
          <h5 style="text-align: center;" id="instructionQualitySliderDisplay">Instruction Quality: 5</h5>
          <input type="range" min="0" max="10" value="5" class="slider" id="instructionQualitySlider">
          <h5 style="text-align: center;" id="managementSliderDisplay">Course Management: 5</h5>
          <input type="range" min="0" max="10" value="5" class="slider" id="managementSlider">
          <h5 style="text-align: center;">Comments</h5>
          <div class="container form-group">
            <div class="d-flex align-items-center" tabindex="0" data-toggle="tooltip" id="usernameHover">
              <label style="font-size: 17px;" for="usernameInput" class="ml-4 pr-4">Username</label>
              <input type="text" class="form-control form-control-sm col-md-9" id="usernameInput" readonly></input>
            </div>
            <textarea class="form-control mt-3" rows="8" id="commentInput"></textarea>
          </div>
            <button type="button" class="btn btn-primary btn-block col-6 mx-auto mt-3" id="submitReviewButton">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
    

  <script type ="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        const isLoggedIn = sessionStorage.getItem('username');
        const accountToggle = document.getElementById('accountToggle');
        if (isLoggedIn != null) {
            accountToggle.innerHTML =
              '<a class="btn btn-danger" href="/account" id="accountButton">Account</a>';
            document.getElementById('loginButton').addEventListener('click', logout);
        } else {
            accountToggle.innerHTML =
              '<a class="nav-link btn-info" href="/login" aria-selected="true" id="loginButton">Login</a>';
            document.getElementById('accountButton').addEventListener('click', login);
        }
    });

    $(document).ready(function() {
    $('#courseSearchButton').click(function() {
      $.ajax({
        url: '/api/course_search',
        method: 'GET',
        data: { courseNumber: $('#courseNumberSelection').val(), professorName: $('#professorSelection').val()},
        success: function(data) {
            var rows =
              `<thead><tr>
                <th scope="col">Course Number</th>
                <th scope="col">Professor</th>
              </tr></thead>`;
            data.forEach(function(course) {
                rows += `
                  <tbody><tr>
                    <td>${course.CourseNumber}</td>
                    <td>${course.ProfessorName}</td>
                    <td>
                      <button class="course-overview-button" 
                      onclick="handleCourseOverviewButtonClick('${course.CourseNumber}', '${course.ProfessorName}')" 
                      data-toggle="modal" data-target="#viewCourseModal">Course Overview</button>
                      <button class="rate-course-button"
                      onclick="handleAddReviewButtonClick('${course.CourseNumber}', '${course.ProfessorName}')"
                      data-toggle="modal" data-target="#addReviewModal">Rate This Course</button>
                      <button class="add-favorite-button" id="AddFavoriteButton" onclick="handleAddFavoriteButtonClick(
                          '${course.CourseNumber}', '${course.ProfessorName}')">⭑ Add Favorite</button>
                    </td>
                  </tr></tbody>`;
            });
            $('#courseBody').html(rows);
        },
        error: function() {
            alert('Failed to load course data.');
      }});
    });});

    function handleCourseOverviewButtonClick(courseNumber, professor) {
      $.ajax({
        url: '/api/course_overview',
        method: 'GET',
        data: { courseNumber: courseNumber, professorName: professor},
        success: function(data) {
          $('#overviewTitle').html(`${courseNumber} OVERVIEW (${professor})`);
          var rating = data[0].Rating;
          if (rating == null) { rating = 0; }
          const overviewStats =
            `<thead><tr>
              "<th>Course Name</th>
              "<th>Credit Hours</th>
              "<th>Cumulative GPA</th>
              "<th>Professor Rating</th>
            </tr></thead><tbody><tr>
              <td>${data[0].CourseName}</td>
              <td>${data[0].CreditHours}</td>
              <td>${data[0].Cumulative_GPA}</td>
              <td>${rating}</td>
            </tr></tbody>`;
          $('#courseOverviewStats').html(overviewStats);
        },
      error: function() {
          alert('Failed to load course data.');
      }});
      $.ajax({
          url: '/api/reviews',
          method: 'GET',
          data: { courseNumber: courseNumber, professorName: professor},
          success: function(data) {
            var overviewReviews = '<th class="h5 text-center">No reviews yet... Be the first?</th>'
            if (!jQuery.isEmptyObject(data)) {
              var reviewTexts = ""
              overviewReviews =
                `<thead><tr>
                  <th>Average Workload</th>
                  <th>Average Amount Learned</th>
                  <th>Average Difficulty</th>
                  <th>Average Instruction Quality</th>
                  <th>Average Management</th>
                  <th>Total Reviews</th>
                </tr></thead><tbody><tr>`;
              var workload = 0;
              var amountLearned = 0; 
	            var difficulty = 0; 
	            var instructionQuality = 0; 
	            var management = 0; 
              var entries = 0;
              data.forEach(function(reviews) {
                workload += reviews.Workload;
                amountLearned += reviews.AmountLearned;
                difficulty += reviews.Difficulty;
                instructionQuality += reviews.InstructionQuality;
                management += reviews.Management;
                reviewTexts += `<p>${reviews.Username}: ${reviews.ReviewText}</p>`;
                entries++;
              });
              $('#reviewTexts').html(reviewTexts);
              overviewReviews += `<td>${(workload / entries).toFixed(2)}</td>
                  <td>${(amountLearned / entries).toFixed(2)}</td>
                  <td>${(difficulty / entries).toFixed(2)}</td>
                  <td>${(instructionQuality / entries).toFixed(2)}</td>
                  <td>${(management / entries).toFixed(2)}</td>
                  <td>${entries}</td></tr></tbody>`
            } else {
              $('#reviewTexts').html("");
            }
            $('#courseReviewStats').html(overviewReviews);
          }
      });
    };

    function handleAddReviewButtonClick(courseNumber, professor) {
      $('#courseNumberTitle').html(courseNumber);
      $('#professorTitle').html(professor);
      addSliderListener("workloadSlider", "Workload: ");
      addSliderListener("amountLearnedSlider", "Amount Learned: ");
      addSliderListener("difficultySlider", "Difficulty: ");
      addSliderListener("instructionQualitySlider", "Instruction Quality: ");
      addSliderListener("managementSlider", "Course Management: ");
      var usernameInput = document.getElementById("usernameInput");
      const username = sessionStorage.getItem("username");
      if (username) {
        usernameInput.value = username;
      } else {
        usernameInput.value = "anonymous";
      }
    };
    
    function addSliderListener(id, textDisplay) {
      var slider = document.getElementById(id);
      slider.addEventListener("input", function() {
        $(`#${id}Display`).html(textDisplay + slider.value);
      });
    }

    $(document).ready(function() {
      $('#submitReviewButton').click(function() {
        var reviewData = {
          username: document.getElementById("usernameInput").value,
          courseNumber: document.getElementById("courseNumberTitle").innerText,
          professorName: document.getElementById("professorTitle").innerText,
          workload: document.getElementById("workloadSlider").value,
          amountLearned: document.getElementById("amountLearnedSlider").value,
          difficulty: document.getElementById("difficultySlider").value,
          instructionQuality: document.getElementById("instructionQualitySlider").value,
          management: document.getElementById("managementSlider").value,
          comments: document.getElementById("commentInput").value,
        };
        $.ajax({
        url: '/api/add_review',
        method: 'POST',
        data: reviewData,
        success: function(data) {
            $('#addReviewModal').modal('hide');
            displayReviewAddedBanner(reviewData.courseNumber, reviewData.professorName);
        },
        error: function() {
            alert('Failed to post review data.');
        }});
      });
    });

    function displayReviewAddedBanner(courseNumber, professor) {
      $('#reviewAddedBanner').fadeIn();
      $('#courseNumberReviewBanner').html(courseNumber);
      $('#professorReviewBanner').html(professor);
      setTimeout(function() {
        $('#reviewAddedBanner').fadeOut();
      }, 3000);
    }

    function handleAddFavoriteButtonClick(courseNumber, professor) {
      $('#courseNumberTitle').html(courseNumber);
      $('#professorTitle').html(professor);
      const username = sessionStorage.getItem("username");
      if (username) {
        usernameInput.value = username;
        $('#addFavoriteModal').modal('show');
      } else {
        alert("You must be logged in to use this feature!");
      }
    };

    $(document).ready(function() {
      $('#submitFavoriteButton').click(function() {
        var reviewData = {
          username: sessionStorage.getItem("username"),
          courseNumber: document.getElementById("courseNumberTitle").innerText,
          professorName: document.getElementById("professorTitle").innerText,
        };
        $.ajax({
        url: '/api/add_favorite',
        method: 'POST',
        data: reviewData,
        success: function(data) {
            $('#addFavoriteModal').modal('hide');
            displayFavoriteAddedBanner(reviewData.courseNumber, reviewData.professorName);
        },
        error: function() {
            alert('Failed to post review data.');
        }});
      });
    });

    function displayFavoriteAddedBanner(courseNumber, professor) {
      $('#favoriteAddedBanner').fadeIn();
      $('#courseNumberFavoriteBanner').html(courseNumber);
      $('#professorFavoriteBanner').html(professor);
      setTimeout(function() {
        $('#favoriteAddedBanner').fadeOut();
      }, 3000);
    }

  </script>
</body>

